a {
    text-decoration: none;
    color: inherit;
}

body {

}

.ahah {
    color: white;
    text-align: center;
}

.crow {
    height: 75px;
    box-shadow: 5px 5px gray;
    background: white;
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 15px;
}

.ocean {
    height: 75px;
    box-shadow: 5px 5px aqua;
    background: white;
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 15px;
}

.crew {
    height: 75px;
    box-shadow: 5px 5px burlywood;
    background-color: white;
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 15px;
}

.ocean {
    height: 75px;
    box-shadow: 5px 5px aqua;
    background-color: white;
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 15px;
}

.lungs {
    height: 75px;
    box-shadow: 5px 5px pink;
    background-color: white;
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 15px;
}

.engine {
    height: 75px;
    box-shadow: 5px 5px grey;
    background-color: white;
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 15px;
}

.boat {
    width: 300px;
    height: 75px;
    box-shadow: 5px 5px lightyellow;
    background-color: white;
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 15px;
}

.soul {
    width: 300px;
    height: 75px;
    box-shadow: 5px 5px whitesmoke;
    background-color: white;
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 15px;
}

.fullpage {
    font-size: larger;
    width: 300px;
    height: auto;
    box-shadow: 5px 5px whitesmoke;
    background-color: white;
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 15px;
}

.homebutton {
    border:none;
    font-family: sans-serif;
    font-size: 14px;
    color: whitesmoke;
    letter-spacing: 4px;
    text-align: center;
    margin-left: 50%;
    position: relative;
    background: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: right;
}

.next {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    margin-left: 50%;
    position: relative;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: right;
}

.prev {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    margin-right: 50%;
    position: relative;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: left;
    opacity: 50%;
}
