.scroll1 {
    font-family: Arial, Helvetica, sans-serif;
}

.scroll2 {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    width: 50%;
}