body {
    background-color: teal;
}

.heading {
 font-size: medium;
 color: blue;
}

.heading:hover{
    color: red;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition-property: width;
}

.box {
    height: 100px;
    width: 100px;
    background-color: black;
    transition-property: all;
    transition-duration: 5s;
}

.box:hover {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 500px;
    margin-top: 100px;
    background-color: red;
}