.container {
  margin: auto;
}

button {
    display: inline-block;
    margin: 73px;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 100px;
    animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.homebutton {
  border:none;
  font-family: sans-serif;
  font-size: 14px;
  color: whitesmoke;
  letter-spacing: 4px;
  text-align: center;
  margin-left: 50%;
  position: relative;
  background: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline;
  justify-content: center;
  float: right;
}

.button1 {
    background-color: rgb(144, 208, 144);
    border:none;
    color: rgb(144, 208, 144);
}

.button2 {
color: rgb(144, 218, 144);
border:none;
background: rgb(144, 218, 144);
}

.button3 {
background-color: rgb(144, 228, 144);
border:none;
color: rgb(144, 228, 144);
}

.button4 {
background: rgb(144, 238, 144);
border:none;
color: rgb(144, 238, 144);
}

.button5 {
background: rgb(144, 248, 144);
border:none;
color: rgb(144, 248, 144);
}