.crow,
.ocean,
.crew,
.lungs,
.engine,
.boat,
.soul,
.joy {
    display: inline;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-kerning: auto;
}

.crow:hover ~ .crow {
    color: black;
}

.ocean:hover ~ .ocean {
 color: blue;
}

.crew:hover ~ .crew {
    color: navy;
}

.lungs:hover ~ .lungs {
    color: pink;
}

.engine:hover ~ .engine {
    color: gray;
}

.boat:hover ~ .boat {
    color: orange;
}

.soul:hover ~ .soul {
    color: darkgreen;
}

.ahcrow {
    color: black;
}

.ahocean {
 color: blue;
}

.ahcrew {
    color: navy;
   }

.ahlungs {
    color: pink;
   }

.ahengine {
    color: gray;
   }

.ahboat {
    color: orange;
   }

.ahsoul {
    color: darkgreen;
   }