.crow,
.ocean,
.crew,
.lungs,
.engine,
.boat,
.soul,
.joy {
    display: inline;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    color: lightblue;
    font-kerning: auto;
}

marquee {
    text-transform: uppercase;
    color: red;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
    scroll
}

body {
    width: 650px;
    left:300px;
    position:sticky;
    text-align: justify;
    line-height: 2;
}