.crow,
.ocean,
.crew,
.lungs,
.engine,
.boat,
.soul,
.joy {
    display: inline;
    font-kerning: auto;
    text-decoration: line-through red;
    color: lightblue;
}

body {
    width: 650px;
    left:300px;
    position:sticky;
    text-align: justify;
    line-height: 2;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    color: red;
}

.bga {
    font-weight: 700;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


