body {
    display: inline;
    color: white;
    margin-left: 200px;
}

.ah {
    font-size: xx-large;
    font-size: 120px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.container {
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: blue;
    background-image: radial-gradient(rgb(1, 185, 247), blue);
    padding: 100px;
    text-align: center;
    border-radius: 50%;
}

.home {
    font-family: sans-serif;
    font-size: 14px;
    color: whitesmoke;
    letter-spacing: 4px;
    text-align: center;
    margin-left: 50%;
    position: relative;
    background-color: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: right;
    opacity: 100%;
}

.next {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    margin-left: 50%;
    position: relative;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: right;
}

.prev {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    margin-right: 50%;
    position: relative;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: left;
    opacity: 50%;
}
