p {
    color: red;
    text-transform: lowercase;
}

hr.bottom {
    border-top: 1px dotted red;
}

hr.top {
    border-top: 1px dotted gray;
}

.homebutton {
    border:none;
    font-family: sans-serif;
    font-size: 14px;
    color: whitesmoke;
    letter-spacing: 4px;
    text-align: center;
    margin-left: 50%;
    position: relative;
    background: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: right;
}

.next {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    margin-left: 50%;
    position: relative;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: right;
}

.prev {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    margin-right: 50%;
    position: relative;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: left;
    opacity: 50%;
}
