.ahah {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    position:absolute;
}

.crow {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 200px;
}

.ocean {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 400px;
}

.crew {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 600px;
}

.lungs {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 800px;
}

.engine {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 1000px;
}

.boat {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 1200px;
}

.soul {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 1400px;
}

.fullpage {
    padding-left: 50px;
    border: black 10px;
    width: 1600px;
}