.ahah {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    position:absolute;
}

.crow {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 200px;
}

.ocean {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 400px;
}

.crew {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 600px;
}

.lungs {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 800px;
}

.engine {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 1000px;
}

.boat {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 1200px;
}

.soul {
    padding-left: 50px;
    border: black 10px;
    width: 100px;
    position: absolute;
    left: 1400px;
}

.fullpage {
    padding-left: 50px;
    border: black 10px;
    width: 1600px;
}

.home {
    font-family: sans-serif;
    font-size: 14px;
    color: whitesmoke;
    letter-spacing: 4px;
    text-align: center;
    margin-left: 50%;
    position: relative;
    background-color: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: right;
    opacity: 100%;
}

.next {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    margin-left: 50%;
    position: relative;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: right;
}

.prev {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    margin-right: 50%;
    position: relative;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    float: left;
    opacity: 50%;
}
